/*typography*/
body {
  font-family: 'Space Mono', sans-serif;
  height: 100%;
  font-size: 16px;
  background-color: #fafafa;
}

h1 {
  margin:0;
  padding: 0;
  font-size: 56px;
  letter-spacing: -0.016em;
  line-height: 60px;
}

h4 {
  padding: 0;
  margin: 0;
}


/*layout*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/*land div*/

#landing {
  width: calc(100% - 32px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*border: 1px solid black;*/
  padding: 16px;
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}


#main-container {
  width: 50%;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



#sketch-container {
  width: 50%;
  /*border: 1px solid green;*/
  display: flex;
  flex-direction: column;
}

/*#sketch-container child*/

#sketch-holder {
  width: calc(95% - 32px);
  margin-top: 0%;
  align-self: center;
  /*border: 2px pink solid;*/
}

/*#main-container child*/

#quest-container {
  width: 100%;
  min-height: 16.66%;
  margin-top: 0%;
}

#quest-container .ques {
  margin-top: 0;
  padding-top: 0;
}




/*controls*/
#slider-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /*border: 1px solid blue;*/
}
#slider-container div {
  width: 50%;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
}


.slider.vertical{

}

.slider.vertical span:nth-child(3) {
  align-self: flex-end;
}

.slider-label {
  width: 100px;
}

input[type=range] {
  margin-top: 16px;
}

#controls {
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
}

#controls > div {
  width: 50%;
}

#controls > div:nth-of-type(2){
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#save {
  font-family: inherit;
  height: 56px;
  width: 100%;
  border: 2px solid black;
  border-bottom: 4px solid black;
  background-color: #fafafa;
  color: black;
  padding: 8px;
  font-size: 16px;
  text-transform: uppercase;
}

input[type=text], textarea {
  border-radius: 0;
  padding: 0;
  border-width: 0px solid black;
  border-style: solid;
  border-width: 2px;
  border: 0px;
  border-bottom: 2px solid black;
  -webkit-appearance: none;
  max-width: 100%;
}

input[type=text], textarea {
  font-family : inherit;
  font-size   : 36px;
}

/*nav*/
#nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 21px;
  height: 48px;
  max-height: 48px;
  overflow: hidden;
  border-top: 1px solid black;
  margin-top: 16px;
}

#nav div {
  width: 25%;
}

#nav div:nth-of-type(1){
  width: 50%;
}


/* media queries */

@media screen and (max-width: 991px)  {


  #content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  #main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    order: 2;
  }
  #sketch-container {
    width: 100%;
    height: 50%;
    order: 1;
  }

  #nav {
    order: 3;
  }

  h1 {
    font-size: 22px;
    line-height: 26px;
  }

}
