/*typography*/
body {
  font-family: 'Space Mono', sans-serif;
  height: 100%;
  font-size: 16px;
  background-color: #fafafa;
}

h1 {
  margin:0;
  padding: 0;
  font-size: 56px;
  letter-spacing: -0.016em;
  line-height: 60px;
}

h4 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: black;
}

a.styled, a.styled:visited {
  color: black;
  border-bottom: 1px solid black;
}

a.styled:hover {
  background-color: black;
  color: #64FFDA;
}





/*layout*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/*land div*/

#landing {
  width: calc(100% - 32px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*border: 1px solid black;*/
  padding: 16px;
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}


#main-container {
  width: 50%;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



#sketch-container {
  width: 50%;
  /*border: 1px solid green;*/
  display: flex;
  flex-direction: column;
}

/*#sketch-container child*/

#sketch-holder {
  width: calc(100% - 32px);
  margin-top: 0%;
  align-self: center;
  /*border: 2px pink solid;*/
}

/*#main-container child*/

#quest-container {
  width: 100%;
  min-height: 16.66%;
  margin-top: 0%;
}

#quest-container .ques {
  margin-top: 0;
  padding-top: 0;
}




/*controls*/
#slider-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /*border: 1px solid blue;*/
}
#slider-container div {
  width: 75%;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px 0px 16px 0px;

}


.slider.vertical{

}

.slider.vertical span:nth-child(3) {
  align-self: flex-end;
}

.slider-label {
  width: 100px;
  text-transform: uppercase;
}

div.slider {
}

input[type=range] {
  margin-top: 16px;
}

.vertical--range-container {
  height: 250px;
}

#controls {
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
}

#controls > div {
  width: 50%;
}

#controls > div:nth-of-type(2){
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#save {
  font-family: inherit;
  height: 56px;
  width: 100%;
  border: 2px solid black;
  border-bottom: 4px solid black;
  background-color: #fafafa;
  color: black;
  padding: 8px;
  font-size: 16px;
  text-transform: uppercase;
}

input[type=text], textarea {
  border-radius: 0;
  padding: 0;
  padding-top: 16px;
  border-width: 0px solid black;
  border-style: solid;
  border-width: 2px;
  border: 0px;
  border-bottom: 2px solid black;
  -webkit-appearance: none;
  background-color: #fafafa;
  max-width: 75%;
}

input[type=text], textarea {
  font-family : inherit;
  font-size   : 36px;
}

input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-size: 16px;
}
input[type=text]::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
}
input[type=text]:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
}
input[type=text]:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
}

/*nav*/
#nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 18px;
  height: 48px;
  max-height: 48px;
  border-top: 1px solid black;
  margin-top: 16px;
}

#nav div {
  width: 25%;
}

#nav div:nth-of-type(1){
  width: 50%;
}

#logo-name{
  margin-left: 32px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#social-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.social {
  width: 24px;
  height: 24px;
  padding-top: 4px;
  padding-right: 8px;
}

/*interaction*/
input:focus, button:focus {
    outline:none;
}

#save {
  transition: all 0.1s ease-in;
  z-index: 999;
  cursor: pointer;
}

#save:hover {
  background-color: #555555;
  color: white;
  border-color: black;
}

#save:active {
  border-bottom: 0px solid black;
  border-top: 4px solid black !important;
}




/* media queries */

@media screen and (max-width: 1200px)  {
  h1 {
    font-size: 46px;
    line-height: 50px;
  }
  input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
  }
  input[type=text]::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
  }
  input[type=text]:-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
  }
  input[type=text]:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
  }

  #nav {
    font-size: 12px;
  }
}

@media screen and (max-width: 1100px)  {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 991px)  {
  #landing {
    width: auto;
  }

  #content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  #main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    order: 2;
  }

  #sketch-container {
    display: flex;
    width: 100%;
    order: 1;
    justify-content: center;
  }

  #nav {
    order: 3;
  }

  #sketch-holder {
    width: 75%;
    margin-top: 0%;
    align-self: center;
}



  h1 {
    padding-top: 8px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  #slider-container{
    flex-direction: column;
  }

  #slider-container div {
    width: 100%;
  }

  #parameters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #parameters > .slider {
    width: 50%;
    box-sizing: border-box;
  }

  .slider {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #parameters > .slider:nth-of-type(1) {
    order: 1;
    padding-right: 16px;
  }
  #parameters > .slider:nth-of-type(2) {
    order: 3;
    padding-right: 16px;
  }
  #parameters > .slider:nth-of-type(3) {
    order: 2;
    padding-left: 16px;
  }
  #parameters > .slider:nth-of-type(4) {
    order: 4;
    padding-left: 16px;
  }

  #parameters > .slider:nth-of-type(3) > span, #parameters > .slider:nth-of-type(4) > span {
    align-self: flex-end;
  }



  .vertical {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .vertical  div {
    width: 100%;
  }

  .vertical > div:nth-of-type(1) {
    width: 50% !important;
    order: 1;
  }

  .vertical > div:nth-of-type(2) {
    order: 3;
  }

  .vertical > div:nth-of-type(3) {
    width: 50% !important;
    order: 2;
    text-align: right;
  }

  .vertical--range-container {
    height: auto;
  }

  #controls >div:nth-of-type(1) {
    width: calc(50% + 32px);
  }

  #controls >div:nth-of-type(2) {
    width: calc(100% - 50% - 32px);
  }

  #save {
    height: 48px;
    width: 100%;
  }

  .hint {
    display: none;
  }

  input[type=text], textarea {
    max-width: calc(100% - 16px);
    padding-top: 16px;
  }

  input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
  }
  input[type=text]::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
  }
  input[type=text]:-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
  }
  input[type=text]:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
  }

  #nav {
    flex-wrap: wrap;
    font-size: 13px;
    margin-bottom: 48px;
  }

  #nav > div:nth-of-type(1){
    width: calc(50% + 32px);
  }

  #logo-name {
    width: calc(100% - 50% - 32px) !important;
    margin-left: 0 !important;
  }



}
